<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="PurchaseTest">
        <classes>
            <class name="com.globant.web.tests.LoginTest"></class>
            <class name="com.globant.web.tests.PurchaseTest"/>
            <class name="com.globant.web.tests.RemoveElementsFromCartTest"></class>
        </classes>
    </test>
</suite>